<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\dotkom\OneDrive\Dokumentumok\webay_0.2\appData\weBay_v1.2_with_dummy_data_and_queries.accdb"
            providerName="System.Data.OleDb" />
        <add name="countConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\dotkom\Downloads\Counting\App_data\count.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="weBay_v1.2_with_dummy_data_and_queriesConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\dotkom\OneDrive\Dokumentumok\webay_0.2\appData\weBay_v1.2_with_dummy_data_and_queries.mdb"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\weBay.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="ConnectCategories" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\weBay.mdb"
            providerName="System.Data.OleDb" />
        <add name="ConnectString1217790" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\weBay.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>

